<%= f.hidden_field :user_id, value: current_user.id %>

<% if !@bowl.errors[:name].empty? %>
  <div class="error_explanation">
    <%= @bowl.errors.full_messages_for(:name)[0].downcase %>
  </div>
<% else %>
  <%= f.label :name %> <span class="required">*</span>
<% end %>
<%= f.text_field :name, autocomplete: :off %></p>

<%= f.label :description %>
<%= f.text_field :description, autocomplete: :off %></p>

<% if !current_user.scraps.empty? %>
  add existing scrap<br />
  <%= f.collection_check_boxes :scrap_ids, current_user.scraps, :id, :description %></p>
<% end %>

<% if !@bowl.errors[:scraps].empty? %>
  <div class="error_explanation">
    <%= @bowl.errors.full_messages_for(:scraps)[0].downcase %>
  </div>
<% else %>
  create new scrap<br />
<% end %>
<%= f.fields_for :scraps, @bowl.scraps.build do |scraps_fields| %>
  <%= scraps_fields.text_field :description, autocomplete: :off %>
  <%= scraps_fields.hidden_field :user_id, value: current_user.id %>
<% end %>

<% if !@bowl.errors[:'bowl_scraps.priority'].empty? %>
  <div class="error_explanation">
    <%= @bowl.errors.full_messages_for(:'bowl_scraps.priority')[0].downcase %>
  </div>
<% else %>
  priority (1-3)<br />
<% end %>

<%= f.fields_for :bowl_scraps, @bowl.bowl_scraps.build do |bowl_scrap_form| %>
  <%= bowl_scrap_form.number_field :priority, autocomplete: :off %>

  <%= bowl_scrap_form.fields_for :scrap do |scrap_form| %>
    <%= scrap_form.text_field :description, autocomplete: :off %>
    <%= scrap_form.hidden_field :user_id, value: current_user.id %>
  <% end %>
<% end %>

<%= f.submit %>
