<% title "edit #{@bowl.name}" %>

<div class="column">
  <h2>edit '<%= @bowl.name %>'</h2>

  <%= form_for @bowl do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= render 'bowl_form', f: f %>
    <%= f.submit %>
  <% end %>

  <p><%= link_to "delete bowl", @bowl, method: :delete, data: { confirm: "really?" } %></p>
