<h2>Edit "<%= @bowl.name %>"</h2>

<%= form_for @bowl do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %></p>
  <%= f.submit %>
<% end %>

<%= link_to "Add scraps", new_bowl_scrap_path(@bowl) %>

<p>
  <%= button_to "Delete Bowl", @bowl, method: :delete, data: { confirm: "Really?" } %>
</p>

<ul>
  <li>
    <strike>Edit name</strike>
  </li>
  <li>
    Add scraps
  </li>
  <li>
    Remove scraps
  </li>
  <li>
    <strike>Delete bowl</strike>
  </li>
</ul>
