<div class="column">
  <h2>Edit "<%= @bowl.name %>"</h2>

  <% if @bowl.errors.any? %>
    <div id="error_explanation">
      <% @bowl.errors.full_messages.each do |msg| %>
        <p><%= msg %>!</p>
      <% end %>
    </div>
  <% end %>

  <%= form_for @bowl do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %></p>
    <%= f.label :description %>
    <%= f.text_field :description %></p>
    <%= f.submit %>
  <% end %>

  <p><%= link_to "Add a scrap", new_bowl_scrap_path(@bowl) %></p>

  <% if !@bowl.scraps.empty? %>
    <p><%= link_to "View scraps", bowl_scraps_path(@bowl) %></p>
    <p><%= link_to "Remove scraps", bowl_scraps_path(@bowl) %></p>
  <% end %>


  <p><%= link_to "Delete Bowl", @bowl, method: :delete, data: { confirm: "Really?" } %></p>
