<div class="column">
  <h2>new bowl</h2>

  <% if @bowl.errors.any? %>
    <div id="error_explanation">
      <% @bowl.errors.full_messages.each do |msg| %>
        <p><%= msg %>!</p>
      <% end %>
    </div>
  <% end %>

  <%= form_for @bowl do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>

    <%= f.label :name %>
    <%= f.text_field :name %></p>
    <%= f.label :description %>
    <%= f.text_field :description %></p>
    add existing scrap<br />
    <%= f.collection_check_boxes :scrap_ids, current_user.scraps, :id, :description %></p>
    scrap category<br />
    <%= f.submit %>
  <% end %>
</div>
