<% title "#{@bowl.name}" %>
<!-- this needs to be refactored to use JQUERY -->
<div class="column" data-id="<%= @bowl.id %>">
  <div class="bowl_container">
    <% if !@bowl.scraps.empty? %>
      <%= link_to bowl_scrap_path(@bowl, @bowl.scraps.sample), class: "random-bowl" do %>
        <div class="bowl"></div>
      <% end %>
    <% else %>
      <%= link_to new_bowl_scrap_path(@bowl), class: "random-bowl" do %>
        <div class="bowl">
        </div>
      <% end %>
    <% end %>

    <a class="previous">&#8249;</a>
    <h2 class="bowl-name"><%= @bowl.name %></h2>
    <a class="next">&#8250;</a>

    <p><a id="show-scraps">show scraps</a></p>
    <div id="scraps"></div>
    <p><a id="add-scraps">add scraps</a></p>
    <div id="scraps-form">
      <%= form_for @bowl do |f| %>
        <%= render 'scrap_form', f: f %>
        <%= f.submit %>
      <% end %>
    </div>

    <p><%= link_to "edit bowl", edit_bowl_path, id: "edit-bowl" %></p>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    // Global Variables
    let scrapResponse = "";
    let id = $(".column").data("id");

    // Scrap Prototype
    function Scrap(id, description, priority) {
      this.id = id;
      this.description = description;
      this.priority = priority || 0;
      this.format = function() {
        return `${this.description}<br />`;
      };
    };

    // Hide scraps div initially
    $("#scraps").hide();

    // Event Listener: #show-scraps button
    $("#show-scraps").on("click", function(event) {
      event.preventDefault();
      getScraps(id, showScraps);
    });

    // Event Listener: #add-scraps button
    $("#add-scraps").click(function(){
      $("#scraps-form").slideToggle();
    });

    // Fetch scraps from database
    function getScraps(id, callback) {
      fetch(`/bowls/${id}.json`, {
        contentType: 'application/json',
        method: 'GET',
      })
      .then(response => {
        return response.json();
      })
      .then(data => {
        let scraps = data.scraps;
        callback(scraps);
      });
    };

    // Display scraps and toggle "show/hide scrap" button
    function showScraps(scraps) {
      $('#scraps').html("");
      if (scraps.length > 0) {
        scraps.forEach(function(params) {
          appendScrap(params);
        });
      } else {
        $('#scraps').append("This bowl has no scraps");
      }
      toggleShowScrapsLink();
    };

    // Append scraps to #scraps div
    function appendScrap(scrap) {
      const newScrap = new Scrap(scrap.id, scrap.description, scrap.priority);
      const newScrapFormat = newScrap.format();
      $('#scraps').append(newScrapFormat);
    };

    // Toggle "show scraps"/"hide scraps" text
    function toggleShowScrapsLink() {
      $("#scraps").slideToggle();
      if ($("#show-scraps").text() == "show scraps") {
        $("#show-scraps").text("hide scraps");
      } else {
        $("#show-scraps").text("show scraps");
        hideScraps();
      };
    };

    // Clear #scraps div
    function hideScraps() {
      $("#scraps").html("");
    };

    // Form submit
    $('form').submit(function(event) {
      event.preventDefault();
      let data = $(this).serialize();
      let url = this.action;

        $.ajax({
          url: url,
          type: "PUT",
          data: data,
          // headers: { 'Content-Type': 'application/json' },
          success: function(response) {
            $(`#edit_bowl_${id}`)[0].reset();
            let newScrap = response.scraps[response.scraps.length-1];
            appendScrap(newScrap);
          }
        });
      });

    // Sifting Through Bowls
    let nextIncrementer = 1
    let previousIncrementer = -1

    // Event listener: .previous button
    $(".previous").click(function(event) {
      event.preventDefault();
      let incrementer = -1;
      getAdjascentBowl(incrementer);
    }); // click .previous event

    function getAdjascentBowl(incrementer) {
      // Retrieve this bowl's id
      $.get("/bowls.json", function(response) {
        let thisBowlId = response.findIndex(function(element) {
          return element.id == id;
        });
        // Set adjascentBowl object
        let adjascentBowl = response[thisBowlId+incrementer];
        debugger;
        // If adjascentBowl exists, grab its data
        if (adjascentBowl != undefined) {
          $.get(`/bowls/${adjascentBowl.id}.json`, function(bowlJsonData) {
            scrapResponse = "";
            // if ($("#show-scraps").html() == "hide scraps") {
            //   $("#show-scraps").html("show scraps");
            //   $("#scraps").html("");
            // };

            // Update id to be adjascentBowl's id
            id = bowlJsonData.id;
            // Populate DOM with JSON data
            $(".bowl-name").html(bowlJsonData.name);
            $(document).prop('title', `BOWLS | ${bowlJsonData.name}`);
            $("#edit-bowl").attr("href", `/bowls/${id}/edit`);

            // Set href for .random-bowl
            if (bowlJsonData.scraps.length > 0) {
              let randomScrap = bowlJsonData.scraps[Math.floor(Math.random()*bowlJsonData.scraps.length)];
              $(".random-bowl").attr("href", `/bowls/${id}/scraps/${randomScrap.id}`);
            } else {
              $(".random-bowl").attr("href", `/bowls/${id}/scraps/new`);
            };

            // If there is no adjascentBowl, change class of .previous button
            if (isNaN(adjascentBowl.id)) {
              $("a.previous").attr("class", "previous none");
            };
          });
        // If adjascentBowl does not exist
        } else {
          // do nothing
        }; // if statement
      }); // .get request
    }; // getAdjascentBowl

    // Event listener: .next button
    $(".next").click(function(event) {
      event.preventDefault();
      let incrementer = 1;
      getAdjascentBowl(incrementer);
    }); // click .next event

  });
</script>
