<h2><%= @bowl.name %></h2>

<% if !@bowl.scraps.empty? %>
  Pull (this should take you to bowls/<%= @bowl.id %>/scraps/n, where n=random)
<% else %>
  This bowl is empty.
<% end %>

<p><%= link_to "Add a scrap", new_bowl_scrap_path(@bowl) %></p>

<p><%= link_to "View scraps", bowl_scraps_path(@bowl) %></p>

<ul>
  <% @scraps.each do |scrap| %>
    <li>
      <%= scrap.description %>
    </li>
  <% end %>
</ul>

<%= link_to "Edit '#{@bowl.name}'", edit_bowl_path %>
