<div class="column">
  <% if !@bowl.scraps.empty? %>
    <%= link_to bowl_scrap_path(@bowl, @bowl.scraps.sample), class: "foo" do %>
      <div class="bowl"></div>
    <% end %>
  <% else %>
    <%= link_to new_bowl_scrap_path(@bowl), class: "foo" do %>
      <div class="bowl">
      </div>
    <% end %>
  <% end %>

  <h2><%= @bowl.name %></h2>

  <% if @bowl.scraps.empty? %>
    <p>(this bowl is empty)</p>
    <p><%= link_to "add scrap", new_bowl_scrap_path(@bowl) %></p>
  <% end %>

  <%= link_to "edit bowl", edit_bowl_path %>

  <% if !@bowl.scraps.empty? %>
    <p><%= link_to "view scraps", bowl_scraps_path(@bowl) %></p>
  <% end %>
</div>
