<% title "#{@bowl.name}" %>

<div class="column">
  <div class="bowl_container">
    <% if !@bowl.scraps.empty? %>
      <%= link_to bowl_scrap_path(@bowl, @bowl.scraps.sample), class: "foo" do %>
        <div class="bowl"></div>
      <% end %>
    <% else %>
      <%= link_to new_bowl_scrap_path(@bowl), class: "foo" do %>
        <div class="bowl">
        </div>
      <% end %>
    <% end %>

    <h2><%= @bowl.name %></h2>

    <p><%= link_to "show scraps", "#", id: "show-scraps", data: { id: @bowl.id } %></p>

    <div id="scraps"></div>

    <p><%= link_to "edit bowl", edit_bowl_path %></p>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
$(function() {
  let scrapResponse = "";

  function toggleScrapsLink() {
    if ($("#show-scraps").html() == "show scraps") {
      $("#show-scraps").html("hide scraps");
      $("#scraps").html(scrapResponse);
    } else {
      $("#show-scraps").html("show scraps");
      $("#scraps").html("");
    }; // toggleScrapsLink
  };

  function getScraps(id) {
    if (scrapResponse == "") {
      $.get("/bowls/" + id + ".json", function(response) {
        if (response.scraps.length == 0) {
          scrapResponse = `<p>This bowl has no scraps</p>`;
          scrapResponse += `<p><a href='./${id}/scraps/new'>add scrap</a></p>`;
        } else {
          $.each(response.scraps, function(index, value) {
            scrapResponse += `${value.description}</br>`;
          });
        };
        toggleScrapsLink();
      }); // get request
    } else {
      toggleScrapsLink();
    };
  }; // getScraps

  $("#show-scraps").click(function(event) {
    event.preventDefault();
    const id = $(this).data("id");
    getScraps(id);
  }); // click event

}); // document ready
</script>
