<% title "#{@bowl.name}" %>
<!-- this needs to be refactored to use JQUERY -->
<div class="column" data-id="<%= @bowl.id %>">
  <div class="bowl_container">
    <% if !@bowl.scraps.empty? %>
      <%= link_to bowl_scrap_path(@bowl, @bowl.scraps.sample), class: "random-bowl" do %>
        <div class="bowl-glyph">
          <div class="bowl-fill">
            <div class="bowl-cta">
              pull a scrap
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <a class="random-bowl"><div class="bowl-glyph"></div></a>
    <% end %>

    <div id="bowl-name-div">
      <a class="previous">&#8249;</a>
      <h2 class="bowl-name"><%= @bowl.name %></h2>
      <a class="next">&#8250;</a>
    </div>

    <div>
      <div id="scrap-stuff">
        <p><a id="show-scraps-button">scraps</a></p>
        <div id="scraps" >
          <div id="display-scraps">
          </div>
          <div id="add-scraps" >
            <p><a id="add-scraps-button"><span id="plus">+</span></a></p>
            <div id="scraps-form">
              <%= form_for @bowl do |f| %>
                <%= render 'scrap_form', f: f %>
                <%= f.submit "add scrap" %>
              <% end %>
            </div> <!-- scraps-form -->
          </div> <!-- add-scraps -->
        </div> <!-- scraps -->
      </div> <!-- scrap-stuff -->
      <div id="bowl-stuff">
        <p><%= link_to "edit", edit_bowl_path, id: "edit-bowl" %></p>
      </div> <!-- bowl stuff -->
    </div>
  </div>
</div>
