<%= f.hidden_field :user_id, :value => current_user.id %>

<% if !@scrap.errors[:description].empty? %>
  <div class="error_explanation">
    <%= @scrap.errors.full_messages_for(:description)[0].downcase %>
  </div>
<% else %>
  <%= f.label :description %> <span class="required">*</span>
<% end %>
<%= f.text_field :description, autocomplete: :off, maxlength: 140 %></p>

<% if @bowl %>
  <%= f.hidden_field :bowl_ids, :multiple => true, :value => @bowl.id %>
<% else %>
  add to existing bowl<br />
  <%= f.collection_check_boxes :bowl_ids, current_user.bowls, :id, :name %></p>

  <% if !@scrap.errors[:bowls].empty? %>
    <div class="error_explanation">
      <%= @scrap.errors.full_messages_for(:bowls)[0].downcase %>
    </div>
  <% else %>
    add to new bowl<br />
  <% end %>

  <%= f.fields_for :bowls, @scrap.bowls.build do |bowls_fields| %>
    <%= bowls_fields.text_field :name, autocomplete: :off %>
    <%= bowls_fields.hidden_field :user_id, value: current_user.id %>

    <% if !@scrap.errors[:'bowl_scraps.priority'].empty? %>
      <div class="error_explanation">
        <%= @scrap.errors.full_messages_for(:'bowl_scraps.priority')[0].downcase %>
      </div>
    <% else %>
      priority (1-3)<br />
    <% end %>

    <%= bowls_fields.fields_for :bowl_scraps, @scrap.bowls.build.bowl_scraps.build do |bowl_scrap_form| %>
      <%= bowl_scrap_form.number_field :priority, in: 1...4, autocomplete: :off %></p>
    <% end %>
  <% end %>
<% end %>

<%= f.submit %>
