<div class="column">
  <h2>edit '<%= @scrap.description %>'</h2>

  <% if @scrap.errors.any? %>
    <div id="error_explanation">
      <% @scrap.errors.full_messages.each do |msg| %>
        <p><%= msg %>!</p>
      <% end %>
    </div>
  <% end %>

  <%= form_for @scrap do |f| %>
    <%= f.label :description %>:
    <%= f.text_field :description %></p>
    <%= f.label "Bowls" %>:<br/>
    <%= collection_check_boxes(:scrap, :bowl_ids, current_user.bowls, :id, :name) do |b| %>
      <%= b.label class:"label-checkbox" do %>
         <%= b.check_box + b.text %>
      <% end %>
    <% end %></p>
    <%= f.submit %></p>
  <% end %>

<%= link_to "delete scrap", @scrap, method: :delete, data: { confirm: "really?" } %>
</div>
