<div class="column">
  <h2>Edit <%= @scrap.description %></h2>

  <%= form_for @scrap do |f| %>
    <%= f.label :description %>:
    <%= f.text_field :description %></p>
    <%= f.label "Bowls" %>:<br/>
    <%= collection_check_boxes(:scrap, :bowl_ids, Bowl.all, :id, :name) do |b| %>
      <%= b.label class:"label-checkbox" do %>
         <%= b.check_box + b.text %>
      <% end %>
    <% end %></p>
    <%= f.submit %></p>
  <% end %>

<%= link_to "Delete Scrap", @scrap, method: :delete, data: { confirm: "Really?" } %>
</div>
