<div class="column">
  <h2>Add a scrap to '<%= @bowl.name %>'</h2>

  <% if @scrap.errors.any? %>
    <div id="error_explanation">
      <% @scrap.errors.full_messages.each do |msg| %>
        <p><%= msg %>!</p>
      <% end %>
    </div>
  <% end %>

  <%= form_for @scrap  do |f| %>
    <%= f.hidden_field :bowl_ids, :multiple => true, :value => @bowl.id %>

    <%= f.label :description %>
    <%= f.text_field :description, maxlength: 140 %></p>
    <%= f.submit %>
  <% end %>
</div>
