<% title @scrap.description %>

<div class="column" data-id="<%= @bowl.id %>">
  <div class="scrap">
    <h2 class="scrap-h2" data-scrap-id="<%= @scrap.id %>">"<%= @scrap.description %>"</h2>
  </div>

  <%= link_to "another", bowl_scrap_path(@bowl, @bowl.scraps.sample), class: "another" %>
  <p><%= link_to "edit", edit_scrap_path(@scrap), class: "edit-scrap" %></p>
</div>

<!-- <script type="text/javascript" charset="utf-8">
  // Timer Function (possible future feature)
  var start = new Date();
  var startInSeconds = start.getMinutes()*60 + start.getSeconds();
  var timerTime = 60*5;
  var end = startInSeconds + timerTime;

  setInterval(function () {
    var now = new Date();
    var nowInSeconds = now.getMinutes()*60 + now.getSeconds();
    var remainingTime = end - nowInSeconds;
    var myResult = parseInt(remainingTime / 60) + ':' + remainingTime % 60;
      document.getElementById('my-timer').innerHTML = myResult;
  }, 500);
</script> -->
