<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag 'favicon.ico' %>
  <title>BOWLS | <%= yield :title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="header">
    <%= render 'layouts/header' %>
  </div>

  <div class="wrapper">
    <div class="error_explanation">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>
      <% end %>
    </div>

    <%= yield %>
  </div>

  <div class="signature">
    <span class="heart">&#9829;</span> <a href="http://www.dalmaboros.com" target="_blank">DB 2018</a>
  </div>

</body>
</html>
