<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag 'favicon.ico' %>
  <title>Bowls</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <input class="burger-check" id="burger-check" type="checkbox"><label for="burger-check" class="burger"></label>
  <nav id="navigation1" class="navigation">
    <ul>
      <li><%= link_to bowls_path, bowls_path %></li>
      <li><%= link_to scraps_path, scraps_path %></li>
      <li>
        <% if user_signed_in? %>
            <%= link_to(destroy_user_session_path, destroy_user_session_path, method: :delete) %>
        <% else %>
          <%= link_to user_session_path, user_session_path %>
        <% end %>
      </li>
    </ul>
  </nav>

  <a href="#" class="btn"><span class="icon icon-gear"></span></a>

  <div class="header">
    <%= render 'layouts/header' %>
  </div>

  <div class="wrapper">
    <%= yield %>
  </div>

  <div class="heart">
    <span>&#9829;</span> <a href="http://www.dalmaboros.com" target="_blank">DB 2017</a>
  </div>

</body>
</html>
