<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag 'favicon.ico' %>
  <title>Bowls</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <input class="burger-check" id="burger-check" type="checkbox"><label for="burger-check" class="burger"></label>
  <nav id="navigation1" class="navigation">
    <ul>
      <% if !user_signed_in? %>
        <li><%= link_to user_session_path, user_session_path %></li>
      <% else %>
        <li><%= link_to bowls_path, bowls_path %></li>
        <li><%= link_to new_bowl_path, new_bowl_path %></li>
        <li><%= link_to(destroy_user_session_path, destroy_user_session_path, method: :delete) %></li>
        <li><%= link_to "/users/dalma", edit_user_registration_path(current_user) if current_user unless current_user && current_user.uid %></li>
        <li>user: <%= current_user.first_name.downcase if current_user && current_user.uid %></li>
      <% end %> <!-- end if user_signed_in? -->
    </ul>
  </nav>

  <a href="#" class="btn"><span class="icon icon-gear"></span></a>

  <div class="header">
    <%= render 'layouts/header' %>
  </div>

  <div class="wrapper">
    <div id="error_explanation">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>
      <% end %>
    </div>
    
    <%= yield %>
  </div>

  <div class="heart">
    <span>&#9829;</span> <a href="http://www.dalmaboros.com" target="_blank">DB 2017</a>
  </div>

</body>
</html>
