<!DOCTYPE html>
<html>
<head>
  <title>Bowls</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <center>
    <h1>BOWLS</h1>
  </center>
  <div>
    <%= render 'layouts/header' %>
  </div>
  <div>
    <%= yield %>
  </div>
</body>
</html>
