<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bowls</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <input class="burger-check" id="burger-check" type="checkbox"><label for="burger-check" class="burger"></label>
  <nav id="navigation1" class="navigation">
    <ul>
      <li><a href="#">Bowls</a></li>
      <li><a href="#">Scraps</a></li>
      <li><a href="#">User</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </nav>
  
  <div class="header">
    <%= render 'layouts/header' %>
  </div>

  <div class="wrapper">
    <%= yield %>
  </div>

  <div class="heart">
    <span>&#9829;</span> <a href="http://www.dalmaboros.com" target="_blank">DB 2017</a>
  </div>

</body>
</html>
